@import "../variables";
.MobileNavBar{
  position: fixed;
  z-index: 99999;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: $dark-blue;
  padding: 10px;
  border-radius: 12px 12px 0 0;
  font-size: 24px;
  box-shadow: 0 1px 6px 0 rgb(0 0 0);
  & > * {
    font-weight: bold;
  }
  & > *:nth-child(1) {
    order: 0;
    margin-right: 20px;
  }
  & > *:nth-child(2) {
    order: 3;
    margin-left: auto;
    margin-right: 20px;
  }
  & > *:nth-child(3) {
    order: 2;
  }
}
.MobileNav{
  padding: 60px 0 20px 0;
  border-radius: 0 0 12px 12px;
  box-shadow: 0 1px 6px 0 rgb(0 0 0);
  background-color: #fff;
  position: fixed;
  z-index: 99998;
  left: 0;
  right: 0;
  top: 0;
  &__nav{
    padding: 10px;
    display: flex;
    flex-direction: column;
    &-item{
      margin-top: 10px;
      cursor: pointer;
      font-size: 18px;
      color: $dark-blue;
      font-weight: bold;
    }
    &-item:hover{
      color: $light-blue;
    }
  }
}