$dark-blue: #09254F;
$white: #fefefe;
$gray: rgba(#cccccc, 0.5);
$light-blue: #3f76d2;
$price-gray: rgb(149, 160, 172);
$price-color1: #c8e2ef;
$price-color2: #928c90;
$price-color3: #5f718a;
$price-color4: #6aaaca;
$price-color5: #5383d0;
$price-color6: #0f7ab9;
$price-color7: #1b699e;
$price-color8: #0c4b86;
$price-color9: #103b6b;
$price-color10: #0b244d;
//font-family: 'Montserrat', sans-serif;
//font-family: 'Play', sans-serif;